# :: General ::
TIMEZONE=Etc/UTC

# :: Adguard ::

# Host port forwards
# - to setup port (-> :3000)
ADGUARD_PORT_SETUP=3000
# - to HTTP (-> :80)
ADGUARD_PORT_HTTP=80
# - to HTTPS (-> :443)
ADGUARD_PORT_HTTPS=443

# :: Prowlarr ::

# Host port forwards
# - to default port (-> :9696)
PROWLARR_PORT=9696

# :: Sonarr ::

# Host port forwards
# - to default port (-> :8989)
SONARR_PORT=3030

# :: Radarr ::

# Host port forwards
# - to default port (-> :7878)
RADARR_PORT=3040
